// ------------------------------------------------------------
/*
/*  Global Classes
*/
// ------------------------------------------

@import "../vendor/include-media.scss";

.chp_button {
    font-family: var(--chp-font-opensans);
    color: var(--chp-color-text-dark);
    text-transform: uppercase;
    font-size: 13px;

    &:hover {
        font-family: var(--chp-font-opensans);
        color: var(--chp-color-text-dark);

        svg {
            animation: 0.5s buttonAnimation 0s forwards;
        }
    }

    svg {
        @extend .chp_chevron_down_style;
    }
}

.chp_chevron_down_style {
    color: var(--chp-color-default);
    width: 8px;
    margin-left: 3px;
    transform: translate(0, 0px);
}

.nav_img {
    max-width: 80px;
    width: 80px;
    max-height: 80px;
    height: 80px;
    border-radius: 40px;
    border: 2px var(--chp-color-white) solid;
    box-shadow: 0 0 15px var(--chp-color-text-light);
}

// ------------------------------------------
//
// Opacity
//
// ------------------------------------------

$sizes: 9;

@for $i from 1 through $sizes {
    .op-#{$i} {
        opacity: "0.#{$i}";
    }
}

// ------------------------------------------
//
// Font Sizes
//
// ------------------------------------------

// Mobile

$sizes: 100;

@for $i from 1 through $sizes {
    .font-#{$i} {
        font-size: #{$i} + "px";
    }
}

// -----------------------------

// Desktop

@for $i from 1 through $sizes {
    .font-d-#{$i} {
        @include media(">desktop") {
            font-size: #{$i} + "px";
        }
    }
}

// ------------------------------------------
//
// Line Heights
//
// ------------------------------------------

// Mobile

$sizes: 100;

@for $i from 1 through $sizes {
    .lh-#{$i} {
        line-height: #{$i} + "px";
    }
}

// -----------------------------

// Desktop

@for $i from 1 through $sizes {
    .lh-d-#{$i} {
        @include media(">desktop") {
            line-height: #{$i} + "px";
        }
    }
}

// ------------------------------------------
//
// Letter Spacing
//
// ------------------------------------------

$sizes: 10;

.ls-05 {
    letter-spacing: 0.5px;
}

@for $i from 1 through $sizes {
    .ls-#{$i} {
        letter-spacing: #{$i} + "px";
    }
}

// ------------------------------------------
//
// Font Weight
//
// ------------------------------------------

$sizes: 9;

@for $i from 1 through $sizes {
    .fw-#{$i} {
        font-weight: #{$i} + "00";
    }
}

// ------------------------------------------
//
// Landscape & Portrait Only
//
// ------------------------------------------

@media (orientation: landscape) {
    .portrait-only {
        display: none !important;
    }
}

@media (orientation: portrait) {
    .landscape-only {
        display: none !important;
    }
}

// ------------------------------------------------------------
