// -------------------------------------------------------------------------------------------------------
//
// Charter

@font-face { 
    font-family: CharterRegular;
    src: url(./fonts/charter_regular-webfont.ttf); 
    font-weight: normal; 
}

@font-face { 
    font-family: CharterBold;
    src: url(./fonts/charter_bold-webfont.ttf); 
    font-weight: normal; 
}

@font-face { 
    font-family: CharterBoldItalic;
    src: url(./fonts/charter_bold_italic-webfont.ttf); 
    font-weight: normal; 
}

@font-face { 
    font-family: CharterItalic;
    src: url(./fonts/charter_italic-webfont.ttf); 
    font-weight: normal; 
}

// -------------------------------------------------------------------------------------------------------
//
// Open Sans

@font-face { 
    font-family: OpenSansRegular;
    src: url(./fonts/OpenSans-Regular.ttf); 
    font-weight: normal; 
}

@font-face { 
    font-family: OpenSansLight;
    src: url(./fonts/OpenSans-Light.ttf); 
    font-weight: normal; 
}

@font-face { 
    font-family: OpenSansSemiBold;
    src: url(./fonts/OpenSans-SemiBold.ttf); 
    font-weight: normal; 
}

@font-face { 
    font-family: OpenSansBold;
    src: url(./fonts/OpenSans-Bold.ttf); 
    font-weight: normal; 
}

@font-face { 
    font-family: OpenSansExtraBold;
    src: url(./fonts/OpenSans-ExtraBold.ttf); 
    font-weight: normal; 
}