// ------------------------------------------------------------
/*
/*  Layout
*/
// ------------------------------------------

@import '../vendor/include-media.scss';

.container {
    width: 100%;
    padding: 0 1rem;
    overflow: hidden;

    @include media(">=tablet") {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        overflow: unset;
    }

    @include media(">tablet") {
        padding: 0;
    }
}

.container_mob_pad {
    @extend .container;
    padding: 0 2rem;

    @include media(">=tablet") {
        padding: 0;
    }
}

.mob_pad {
    padding: 0 2rem !important;

    @include media(">=tablet") {
        padding: inherit !important;
    }
}