@import "../common.scss";

// CHP Clinique

.chp_cliniques {
    .chp_cliniques_image {
        width: 800px;
        min-height: 140px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;

        img {
            width: 140px !important;
            height: 140px !important;
            border-radius: 70px;
            border: 4px var(--chp-color-white) solid;
        }
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        color: var(--chp-color-text-dark);
        width: 45%;
        margin-bottom: 100px;
        line-height: 250%;
        font-size: 14px;
    }
}

.chp_clinique_content {
    @extend .section_base;

    .chp_clinique_data {
        width: 100%;
        @extend .paragraph_base;
        font-size: 12px !important;
        letter-spacing: 0.5px;
        margin-bottom: 60px;

        .chp_clinique_data_col {
            flex: 1;
        }

        .chp_clinique_data_item {
            height: 20px;
            line-height: 20px;
            margin-bottom: 30px;

            svg {
                font-size: 20px !important;
                color: var(--chp-color-default);
                margin-right: 15px;
            }

            &:last-child {
                margin-bottom: 30px;
            }

            span {
                display: inline-block;
                height: 20px !important;
                line-height: 20px;
            }
        }
    }

    .chp_clinique_presentation {
        width: 100%;

        .chp_clinique_pres_content {
            margin-bottom: 80px;
            
            p {
                font-size: 12px !important;
                width: 85%;
            }
        }

        .chp_button_dark {
            font-size: 14px !important;
        }
    }
}
