@import "../common.scss";

// CHP Clinique

.chp_cliniques {
    .chp_cliniques_image {
        width: 800px;
        min-height: 140px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;

        img {
            width: 140px !important;
            height: 140px !important;
            border-radius: 70px;
            border: 4px var(--chp-color-white) solid;
        }
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        color: var(--chp-color-text-dark);
        width: 45%;
        margin-bottom: 100px;
        line-height: 250%;
        font-size: 14px;
    }
}
