@import "../common.scss";

// CHP Footer

#chp_footer {
    color: var(--chp-color-text-white);
    font-family: var(--chp-font-opensans);
    background: var(--chp-color-default);
    width: 100%;
    min-height: 60px;
    height: 60px;
    font-size: 6px;
    overflow: hidden;
    text-align: center;

    @include media(">galaxyfold") {
        font-size: 8px;
    }

    @include media(">=sm2") {
        font-size: 10px;
    }

    @include media(">=tablet") {
        text-align: left;
        font-size: 12px;
    }

    .container {
        overflow: visible;

        @include media(">tablet") {
            overflow: hidden;
        }
    }

    @include media(">=tablet") {
        min-height: 85px;
        height: 85px;
    }

    span {
        flex-grow: 1;
        height: 20px;
        line-height: 20px;
        letter-spacing: 0.5px;

        img {
            width: 20px;
            height: 20px;
            margin-left: 5px;
            opacity: 0.8;
            display: none;

            @include media(">=tablet") {
                display: inline-block;
            }
        }
    }

    .chp_footer_logo {
        opacity: 0.1;
        position: absolute;
        left: 20vw;

        @include media(">=tablet") {
            opacity: 0.3;
        }

        @include media(">tablet") {
            opacity: 0.3;
            position: static;
            left: unset;
        }
    }
}
