@import "../common.scss";

// CHP Sub-pages Header

.chp_header {
    width: 100%;
    min-height: calc(100vh - 105px);
    height: auto;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        // filter: grayscale(100%);
        //
        background-position: center !important;
        background-size: cover !important;
        background-attachment: inherit !important;
        background-repeat: no-repeat !important;
    }

    .chp_container {
        position: relative;
    }
}

.chp_h_medecins {
    &::before {
        background-image: url('./assets/src/img/medecins.jpg');
    }
}

.chp_h_cliniques {
    &::before {
        background-image: url('./assets/src/img/cliniques.jpg');
        background-position: bottom !important;
    }
}

.chp_h_pathologies {
    &::before {
        background-image: url('./assets/src/img/pathologies.jpg');
    }
}

.chp_h_consignes {
    &::before {
        background-image: url('./assets/src/img/consignes.jpg');
    }
}