@import "../common.scss";

// CHP Landing Page

body {
    background: black;
}

main {
    margin-top: 105px !important;
}

header {
    width: 100%;
    min-height: calc(100vh - 105px);
    height: auto;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        filter: blur(10%);
        //
        background-image: url('./assets/src/img/header-bg.jpg');
        background-position: center !important;
        background-size: cover !important;
        background-attachment: inherit !important;
        background-repeat: no-repeat !important;
        background-blend-mode: overlay !important;
    }

    .chp_header_content {
        position: relative;
        color: var(--chp-color-white);
        height: calc(100vh - 105px);

        .container {
            .chp_header_title {
                font-family: var(--chp-font-opensans-light);
                text-transform: uppercase;
                letter-spacing: 3px;
                font-size: 55px;
                margin-bottom: 30px;
            }

            .chp_header_subtitle {
                width: 45%;
                font-family: var(--chp-font-opensans-light);
                letter-spacing: 3px;
                line-height: 200%;
                font-size: 22px;
                margin-bottom: 80px;
            }

            .chp_header_links {
                a {
                    letter-spacing: 0.3px;
                    margin-right: 40px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

#chp_intro {
    @extend .section_base;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: opacity(50%);
        //
        background-image: url('./assets/src/img/intro-bg.png');
        background-position: center !important;
        background-size: cover !important;
        background-attachment: inherit !important;
        background-repeat: no-repeat !important;
    }

    .chp_intro_wrapper {
        position: relative;
    }

    p {
        margin-bottom: 70px;
    }
}
