@import "../common.scss";

// CHP Clinique

.chp_h_medecins {
    min-height: calc(100vh - 95px);
    @include media(">tablet") {
        min-height: 900px;
    }
    .chp_container {
        min-height: calc(100vh - 95px);
        @include media(">tablet") {
            min-height: 900px;
        }    
    }
}

.chp_cliniques {
    .chp_medecins_image {
        width: 100% !important;

        @include media(">=tablet") {
            width: 600px !important;
        }    
    }

    .chp_baggio_image {
        width: 100% !important;

        @include media(">=tablet") {
            width: 480px !important;
        }    
    }

    .chp_button_rdv {
        margin-top: 20px;
        display: block;
        color: var(--chp-color-default) !important;

        @include media(">=sm2") {
            margin-top: 30px;
        }

        &:hover {
            color: var(--chp-color-default-dark) !important;
        }

        @include media(">=tablet") {
            margin-top: 0;
            display: inline-block;
            margin-left: 60px;
        }
    }
}

.chp_medecine_content {
    @extend .section_base;

    .chp_medecin_data {
        border-top: 0.1px rgba(0, 0, 0, 0.2) solid;
        margin-bottom: 60px;

        @include media(">=tablet") {
            margin-bottom: 80px;
        }

        .chp_medecin_data_item {
            width: 100%;
            height: auto;
            padding: 30px 0;
            border-bottom: 0.1px rgba(0, 0, 0, 0.2) solid;
            //
            display: flex;
            flex-direction: column !important;
            justify-content: flex-start;
            align-items: flex-start;

            @include media(">=tablet") {
                flex-direction: row !important;
            }

            .chp_medecin_di_1 {
                font-family: var(--chp-font-opensans-semibold);
                color: var(--chp-color-default);
                text-transform: uppercase;
                font-size: 12px !important;
                line-height: 200%;
                letter-spacing: 0.3px;
                width: 100%;
                margin-bottom: 15px;

                @include media(">=sm2") {
                    font-size: 14px !important;
                }

                @include media(">=tablet") {
                    width: unset;
                    flex: 1;
                    margin-bottom: 0px;
                    padding-right: 40px;
                }

                @include media(">tablet") {
                    padding-right: 0;
                }
            }

            .chp_medecin_di_2 {
                font-family: var(--chp-font-opensans-semibold);
                color: var(--chp-color-text-dark);
                min-height: 28px;
                font-size: 10px !important;
                line-height: 28px;
                letter-spacing: 0.3px;
                width: 100%;

                @include media(">=sm2") {
                    font-size: 12px !important;
                }

                @include media(">=tablet") {
                    width: unset;
                    flex: 1;
                }
            }
        }
    }
}
